@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main-container{
    width: 100%;
    height: 100vh;
    background-color: white;
}

.top-navbar{
    width: 100%;
    height: 40px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
padding-left: 50px;
color: white;
}
.right{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    list-style: none;
}

.navbar{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    
}

.lefty{
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.righty{
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;

    padding-left: 100px;
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.box{
    height: 60vh;
    width: 100%;
    background: url(./OIP.jpg);
    background-position: center;
    background-size: cover;
flex-direction: column;
display: flex;
align-items: center;
justify-content: center;
border-bottom: 20px green solid;

}

.text-section{
    display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;
}
.text-section h6{
    width: 300px;
    color: rgb(224, 197, 18);
    margin-left: 160px;
    font-size: 16px;
}

.text-section h1{
    width: 400px;
    height: auto;
color: green;
margin-left: 100px;
font-size: 75px;
}
.text-section h2{
    width: 500px;
    height: auto;
    color: red;
    font-size: 70px;
    margin-left: 110px;

}
.text-section p{
    width: 550px;
    color: yellow;
margin-left: 320px;
font-weight: 600;
font-size: 16px;
}

.text-section button{
color: black;
width: 280px;
height: 40px;
border-radius: 20px;
margin-left: 100px;
margin-top: 20px;
font-weight: 600;
background-color: yellow;
font-size: 20px;
}

.work-section{
    height: 80vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
 
}
.imagepart{
    width: 50%;
    height: 70vh;
}
.text-party{
width: 50%;
height: 70vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
}

.text-party h1{
    width: 600px;
    height: auto;
    font-size: 40px;
}

.text-party p{
    width: 600px;
    height: auto;
    color: rgba(87, 85, 85, 0.952);
    font-size: 20px;
}
.text-party h6{
    width: 600px;
    height: auto;
    font-size: 20px
    ;
    color: rgb(80, 78, 78);
}
.text-party button{
    height: 50px;
width: 450px;
font-size: 16px;
border-radius: 30px;
margin-top: 20px;
background-color: green;
border: none;
color: white;
align-items: start;
margin-right: 150px;
}

.service-section{
    width: 100%;
    height: 130vh;
    background-image: url(./gg.jpg);
    padding-block: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service-section h1{
    text-align: center;
}

.service-part1{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 30px;
}
.service-box{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}
.service-part2{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 30px;
}

.img-box{
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}